<footer class="footer">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- Navbar content -->
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www2.gov.bc.ca/gov/content?id=79F93E018712422FBC8E674A67A70535"
            target="_blank"
            >Disclaimer</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www2.gov.bc.ca/gov/content?id=9E890E16955E4FF4BF3B0E07B4722932"
            target="_blank"
            >Privacy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www2.gov.bc.ca/gov/content?id=E08E79740F9C41B9B0C484685CC5E412"
            target="_blank"
            >Accessibility</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www2.gov.bc.ca/gov/content?id=1AAACC9C65754E4D89A118B875E0FBDA"
            target="_blank"
            >Copyright</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www2.gov.bc.ca/gov/content?id=6A77C17D0CCB48F897F8598CCC019111"
            target="_blank"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
</footer>
