//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Only paragraph links should be underlined
p a {
   text-decoration: underline;
 }

// Header, adds the gold bottom border and shadow
header nav {
  background-color: map-get($theme-colors, primary);;
  border-bottom: 2px solid map-get($theme-colors, secondary);

  -webkit-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  margin-bottom: 20px;
}

header .nav-link {
  color: white !important;
}

// Orange bar above footer
footer nav {
  border-top: 2px solid map-get($theme-colors, secondary);
}

// Only sibling list items in footer get left border
footer li+li  {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid #4b5e73;
  }
}

// Have to ensure footer nav links are white

footer .nav-link {
    color: white !important;
}

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 65px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //line-height: 40px; /* Vertically center the text there */

}
