//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

p a {
  text-decoration: underline;
}

// Header, adds the gold bottom border and shadow
header {
  background-color: map-get($theme-colors, primary);;
  border-bottom: 2px solid map-get($theme-colors, secondary);

  -webkit-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
}
