//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

.nav-link, .navbar-brand, .page-link, a.btn {
  text-decoration: none;
}

// Header, adds the gold bottom border and shadow
header nav {
  background-color: theme-color(primary-nav);
  border-bottom: 2px solid theme-color(bcgold);
  margin-bottom: 20px;
  &.shadow {
    box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  }
}

// Set footer background, add gold border above
footer nav {
  background-color: theme-color(primary-nav);
  border-top: 2px solid theme-color(bcgold);
}

// Only sibling list items in footer get left border
footer .nav-item+.nav-item  {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid #4b5e73;
  }
}

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  // Margin bottom by footer height
  margin-bottom: 65px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 60px;
  //line-height: 40px; /* Vertically center the text there */
}
