//---------------------------------------------------------------------------------------
// Variables from Bootstrap are change here, only CHANGED variables are here,
// so if your looking for something, check out the varibles.scss file in bootstrap
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Change theme-colors
$theme-colors: ();
$theme-colors: map-merge((
  primary: #38598a,
  success: #43893E,
  info: #96c0e6,
  warning: #f9ca54,
  danger: #d8292f,
  light: $gray-100,
  dark: $gray-800,
  // new entries
  primary-nav: #036,
  secondary-nav: #5475a7,
  bcgold: #fcba19
), $theme-colors);

// Add our font as default
$font-family-sans-serif: Myriad-Pro, Calibri, Arial, sans serif;
$font-family-base: $font-family-sans-serif;
$body-color: #494949;

// Headings
$headings-font-weight:   600;
$headings-color: #494949;

// Links
$link-color:            #1a5a96;
$link-hover-color:      #0f3355;

// Breadcrumbs
$breadcrumb-bg: transparent;

$nav-link-padding-x: .8rem;
$nav-link-padding-y: .4rem;
$navbar-nav-link-padding-x: .8rem;
$navbar-nav-link-padding-y: .4rem;

$pagination-color: theme-color('primary');
$pagination-active-bg: theme-color('primary');
$pagination-active-border-color: $pagination-active-bg;
$nav-pills-link-active-bg: theme-color('primary');
//background-color: $nav-pills-link-active-bg;
